<style>
  .mid{
    text-align: center;
    margin-bottom: 35px;
  }
  .mid1{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 35px;
  }
  .mid2 {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .red {
  background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .input{
    margin: 5px;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar 
<div class="toolbar" role="banner">
</div>-->

<h2 class="mid" style="color:blueviolet;">Vault of the Incarnates - 14.12.2022 - 19:30 Uhr</h2>

<div class="mid">  
  <mat-form-field appearance="fill" class="input">
    <mat-label>Rolle</mat-label>
    <mat-select [(ngModel)]="plr_role">
      <mat-option value="Tank">Tank</mat-option>
      <mat-option value="Heal">Heal</mat-option>
      <mat-option value="DD">DD</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Name</mat-label>
    <input matInput #plr_name>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Klasse</mat-label>
    <mat-select [(ngModel)]="plr_class">
      <mat-option value="Todesritter">Todesritter</mat-option>
      <mat-option value="Dämonenjäger">Dämonenjäger</mat-option>
      <mat-option value="Druide">Druide</mat-option>
      <mat-option value="Rufer">Rufer</mat-option>
      <mat-option value="Jäger">Jäger</mat-option>
      <mat-option value="Magier">Magier</mat-option>
      <mat-option value="Mönch">Mönch</mat-option>
      <mat-option value="Paladin">Paladin</mat-option>
      <mat-option value="Priester">Priester</mat-option>
      <mat-option value="Schurke">Schurke</mat-option>
      <mat-option value="Schamane">Schamane</mat-option>
      <mat-option value="Hexenmeister">Hexenmeister</mat-option>
      <mat-option value="Krieger">Krieger</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="mid1">  
  <button mat-raised-button style="width:20%" (click)="AddRaider(plr_name.value)" color="primary">Neuen Raider hinzufügen</button>
</div>
<div class="mid2">
  <table style="width:100%">
    <tr style="background-color: #1b1b1b;">
      <th>Rolle</th>
      <th>Name</th>
      <th>Klasse</th>
      <th style="width:15%; height: 50px;background-color: #0B0C10;"></th>
    </tr>
    <tr style="height:50px;background-color: #262626;" *ngFor="let e of dataSource">
      <td >{{e.position}}</td>  
      <td >{{e.name}}</td>  
      <td [ngStyle]="{'background-color': getColor(e.symbol)}" style="height:50px;color:black" >{{e.weight}}</td>  
      <td style="background-color: #0B0C10;">  
          <!--<button mat-raised-button color="accent" style="margin: 3px;">Ja</button> -->
          <button (click)="RemoveRaider(e.name)" mat-raised-button color="warn" style="margin: 3px;color:black">Entfernen</button> 
      </td>  
    </tr>
  </table>
</div>